doctype html
html.bg-black
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(
      name='description',
      content='Gray Consulting'
    )
    title Gray Consulting

  body.
   Gray Consulting
    